.btn-inverse-dark {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #5E5E5E;
}
.form-control {
  border-radius: 5px;
}

.content-container {
    width: 100%;
    text-align: center;
    margin-top: 125px;
    padding-left: 5%;
}

#wrapper {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.topbar {
    background: #000;
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 1000;
}
#main-logo {
    display: inline-block;
    width: 18%;
    height: 70px;
    margin-left: 2%;
    margin-top: 3px;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/static/images/logos/statduel-logo-side-white.png");
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}
#main-logo:hover {
    background-image: url("/static/images/logos/statduel-logo-side-white-half-red.png");
}

#wrapper.toggled {
}

#sidebar-wrapper {
    margin-top: 75px;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#add-player-empty-plus {
    font-size: 100px;
    text-align: center;
    color: #676767;
    cursor: pointer;
    margin-top: 20px;
    font-family: serif;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#add-player-empty-plus:hover {
    color: #FFFFFF    
}

#add-player-empty-text {
    font-size: 16px;
    text-align: center;
    color: #D6D6D6;
    font-family: monospace;
    padding: 0px 5px;
}

#page-content-wrapper {
    position: absolute;
    width: 100%;
    padding-left: 20%;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

#percentages-container {
    margin-top: 30px;
    width: 80%;
    float: left;
}

#playmaking-container {
    margin-top: 30px;
    width: 80%;
    float: left;
}


/* Sidebar Styles */

.sidebar-nav {
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

#scoring-toggles, #playmaking-toggles {
    float: left;
    width: 18%;
    height: 100%;
    margin-top: 100px;
    margin-left: 2%;
}
#playmaking-toggles, #timeline-playmaking-toggles {
}

#timeline-scoring-toggles, #timeline-playmaking-toggles {
    display: none;
    float: left;
    width: 18%;
    height: 100%;
    margin-top: 100px;
    margin-left: 2%;
}

#playmaking-toggles {
  margin-top: 100px;
}

.profile_pic {
  width: 268px;
}


#stat-toggles {
  text-align: center;
}

.stat-toggle-label {
  line-height: 3;
  width: 70%;
  min-width: 105px;
  border-radius: 0px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  padding: 0.2em 0.6em 0.2em;
  -moz-transition: all 0.1s ease-in 0s;
  -webkit-transition: all 0.1s ease-in 0s;
  -o-transition: all 0.1s ease-in 0s;
  transition: all 0.1s ease-in 0s;
  text-transform: uppercase;
  font-size: .85em;
  font-family: Lato,sans-serif;
  font-weight: 700;
  overflow: hidden;
}
.stat-toggle-label:hover {
  opacity: .8;
}

.stat-format-label {
  line-height: 1.7;
  width: 100px;
  border-radius: 0px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 1px;
  display: inline-block;
  padding: 0.2em 0.6em 0.2em;
  -moz-transition: all 0.1s ease-in 0s;
  -webkit-transition: all 0.1s ease-in 0s;
  -o-transition: all 0.1s ease-in 0s;
  transition: all 0.1s ease-in 0s;
  //text-transform: uppercase;
  font-size: 1em;
  font-family: Lato,sans-serif;
  font-weight: 400;

}
.stat-format-label:hover {
  opacity: .8;
}
.stat-format-label.inactive {
    cursor: default;
    opacity: .4;
}

#scoring-chart {
  width:100%;
  height: 400px;
}
#timeline-scoring-chart, #timeline-playmaking-chart {
  width:100%;
  height: 350px;
  max-height: 400px;
  display:none;
}
#playmaking-chart {
  width:100%;
  height: 400px;
  margin-top: 50px;
}

#stats-format {
    margin-top: 30px;
    width: 80%;
}

#stats-format-tabs {
  text-align: center;
  //background-color: #EFEFEF;
  border-bottom: 3px solid #000000;
}

.search-bar-container {
    width: 70%;
    height: 75px;
    float: left;
    text-align: center;
}
.search-bar-container-mobile {
    display: none;
    width: 100%;
    height: 75px;
    text-align: center;
    margin-top: 60px;
}

.tt-dropdown-menu {
    text-align: left;
}

.right-inner-addon {
    width: 40%;
    margin: 0 auto;
    display: none;
    padding: 20px;
}

.input-button {
  display:block;
}
#addplayer-input {
    width: 400px;
}
.myNav {
  background-color: #E9E9E9;
}
.tt-dataset-players {
    cursor: pointer;
}

.remove-player {
    float: left;
    display: table;
    width: 15%;
    height: 100%;
    font-size: 20px;
    //font-weight: bold;
    line-height: 18px;
    color: ##B4B4B4;
    text-shadow: 0 1px 0 #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.remove-player div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-right: 5px;
    color: #EEEEEE;
}
.remove-player span:hover {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}
.remove_player-x {

}

.profile_pic_container {
    height: 100%;
    float: right;
    width: 35%;
    position: relative;
    overflow: hidden;
}

.profile_pic_container img {
    width: 100%;
    min-width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
}

.player_title {
    float: left;
    width: 50%;
    height: 100%;
    display: table;
}
.player_title div:hover {
    text-decoration: none;
    color: #000000;
}
.player_title div {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}
.player_card_full {
    margin-bottom: 5px;
}
.player_card {
    width: 100%;
    height: 110px;
    color: #464545;
    background-color: #F2F2F2;
}
.player_card:hover {
    cursor: pointer;
}
.player_card h6 {
    font-size: 11px;
}

* {
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body { 
    font-family:'Lato';
}

.accordionTitle, .player_card {
    border-bottom:1px solid darken(#38cc70, 5%);
    &:before {
    content: "+";

    font-size:1.5em;
    line-height:0.5em;
    float:left; 
    @include transition(transform 0.3s ease-in-out);
    }
    &:hover {
    background-color:darken(#38cc70, 10%);
    }
}
.playerInfo {
    height:auto;
    overflow:hidden; 
    //background-color:rgba(255,255,255,0.2);
    background-color: #F2F2F2;
    //color:#B4B4B4;
    color:#464545;
    text-indent: 0px;
}
.playerInfoStats {
    font-size: 10px;
    text-indent: 5px;
    line-height: 2em;
    padding-left: 20px;
    padding-top: 30px;
    //SHAME: magic number to allow the accordion to animate
    @media all {
        max-height:50em;
        @include transition(max-height 1s);
    }
    @media screen and (min-width:48em) {
         max-height:15em;
         @include transition(max-height 0.5s);
    }
}
.collapsedPlayerInfo{
    display:none;
    border-top: 1px solid #000000;
}

.selectContainer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.toggle-bar {
    background: #333333;
    display: inline-block;
    margin: 0;
    padding: 8px 30px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2000;
    font-size: 20px;
    color: #9B9393;
}
.toggle-bar li {
    display: inline-block;
    list-style-type: none;
    margin-right: 15px;
    width: 18px;
    padding: 0% 10% 0% 0%;
}
.toggle-bar li:hover {
    cursor: pointer;
    color: #FFFFFF;
}
.toggle-bar li .active {
    color: #FFFFFF;
}
.nav-tab {
    display: none;
}
.nav-tab.active-tab {
    display: block;
}
.share-button {
    padding-top: 10px; 
}

.share-button label {
    border-radius: 0px !important;
    font-size: 14px !important;
}

#line-chart {
    height: 500px;
    width: 100%;
}

#stats-row1, stats-row3 {
    margin-top: 50px;
}

.player-comparison-box {
    display: none;
}


@media screen and (max-width: 1200px) {
    .profile_pic_container {
        height: 100%;
        float: left;
        width: 35%;
        position: relative;
    }
    .profile_pic_container img {
        width: 100%;
        max-width: 100px;
        min-width: 50px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
}

@media screen and (max-width: 700px) {
    .content-container {
        margin-top: 0px;
    }
    #sidebar-wrapper {
        display: none;
    }
    #page-content-wrapper {
        padding-left: 0;
    }
    #main-logo {
        width: inherit;
        height: 80%;
        float: none;
        background-position-x: 45%;
    }
    .topbar {
        text-align: center;
        height: 60px;
        top: 0;
    }
    .search-bar-container {
        display: none;
    }
    .search-bar-container-mobile {
        display: block;
    }
    .right-inner-addon {
        width: 100%;
    }
    #stats-format {
        display: none;
    }
    .player-comparison-box {
        display: block;
        height: 200px;
        width: 100%;
        background-color: #000000;
    }
    .player_box {
        position: relative;
        background-color: #000000;
        height: 100%;
        width: 25%;
        display: inline-block;
        overflow: hidden;
    }
    .player_box_remove {
        font-size: 13px;
        line-height: 23px;
        font-weight: 900;
        background-color: #000000;
        color: #EEEEEE;
        padding: 0 8px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    .player_box_remove:hover {
        opacity: .5;
    }
    .player_box_image_container {
        height: 55%;
        width: 100%;
    }
    .player_box_image_container img{
        position: absolute;
        background-size: cover;
        background-position: top center;
        top: 0;
        left: 0;
        width: 100%;
    }
    .player_box_text_container {
        background-color: #000000;
        position: absolute;
        bottom: 0;
        height: 90px;
        width: 100%;
        text-align: center;
    }
    .player_box_name {
        padding: 10px 2% 0 2%;
        text-align: center;
        color: #EFEFEF;
        font-family: monospace;
    }
    .player_box_color_stripe {
        width: 100%;
        height: 25px;
        position: absolute;
        bottom: 0;
    }
    #player_box_add_player {
    }
    .player_box_add_box {
        text-align: center;
        font-size: 5em;
        line-height: 3;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        cursor: pointer;
        background-color: #131313;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .player_box_add_box:hover {
        color: #FFFFFF;
    }
    #percentages-container, #playmaking-container {
        width: 95%;
    }
    .stat-toggle-label {
        width: 20%;
        min-width: 90px;
        float: none;
        display: inline-block;
        font-size: 9px;
        line-height: 3;
    }
    #scoring-toggles, #timeline-scoring-toggles, #playmaking-toggles, #timeline-playmaking-toggles {
        width: 100%;
        margin: 0;
    }
}
