<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="">

        <title>{% block title %}StatDuel{% endblock %}</title>

        {% block head_resources %}
        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        
        <style>
            #main-search {
                padding-top: 150px;
            }
            #search-button {
                margin-top: -4px;
            }
            .twitter-typeahead {
                width: 100%;
            }
            .tt-dropdown-menu {
                background-color: rgb(102, 175, 233);
                padding-left: 13px;
                width: 100%;
                color: rgb(255, 255, 255);
            }
            #stats-panel {
                margin: 40px;
            }
            .scoring-chart {
                height:200px;
            }
            .container {
            }
            .center {
                float: none;
                margin-left: auto;
                margin-right: auto;
            }
        </style>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% endblock %}
        {% block additional_head %}{% endblock %}
    </head>

    <body>
        {% block navbar %}
        <div class="topbar">
            <a href="/nba/playerstats/">
                <div id="main-logo"></div>
            </a>
        </div>
        {% endblock %}
        {% block content %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        {% block libraries %}{% endblock %}
    </body>
</html>
