{% extends "base.html" %}

{% block additional_head %}

<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/static/css/selectize.css" />
<style>
    #main-logo {
        display: inline-block;
        width: 215px;
        height: 70px;
        margin-left: 20%;
        margin-top: 3px;
        float: left;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("/static/images/logos/statduel-logo-side-white.png");
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    #main-logo:hover {
        background-image: url("/static/images/logos/statduel-logo-side-white-half-red.png");
    }
    .topbar {
        background: #000;
        width: 100%;
        height: 75px;
        position: fixed;
        z-index: 1000;
        top: 0;
    }

    .search-bar-container {
        margin-top:215px;
        width: 100%;
        height: 75px;
        text-align: center;
    }

    .tt-dropdown-menu {
        text-align: left;
    }

    .right-inner-addon {
        width: 40%;
        margin: 0 auto;
        display: none;
    }
    #welcome-text {
        font-size: 18px;
        font-family: monospace;
        color: #000000;
        text-align: center;
        padding: 15px;
        display: none;
    }
    body {
        background-color: #FAFAFA;
    }

    @media screen and (max-width: 700px) {
        .right-inner-addon {
            width: 80%;
        }
        .search-bar-container {
            margin-top: 130px;
        }
    }
</style>
{% endblock %}

{% block content %}

<div class="search-bar-container">
    <div id="welcome-text">
        try searching for a current NBA player
    </div>
    <div class="right-inner-addon">
        <select id="player-select" placeholder="Lebron James">
            <option value="">select a player...</option>
            {% for player in players_list %}
            <option value="{{player.unique_name}}">{{player.name}}</option>
            {% endfor %}
        </select>
    </div>
</div>


{% endblock %}

{% block libraries %}

<script src="/static/js/selectize.js"></script>
<script>{% include "js/base.js" %}</script>

{% endblock %}
