{% extends "base.html" %}


{% block title %}StatDuel{% if populated %} - {{page_title}}{% endif %}{% endblock %}

{% block additional_head %}

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Le fav and touch icons -->

{% if not debug %}
<script>
    {% include "js/ga.js" %}
</script>
{% endif %}

<meta name="description" content="NBA stat comparisons. {{meta_description}}">

<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<link rel="stylesheet" type="text/css" href="/static/css/selectize.css">
<link rel="stylesheet" type="text/css" href="/static/js/amcharts/plugins/export/export.css">

<script src="/static/js/amcharts/amcharts.js" type="text/javascript"></script>
<script src="/static/js/amcharts/serial.js" type="text/javascript"></script>
<script src="/static/js/amcharts/plugins/export/export.js" type="text/javascript"></script>
<script src="/static/js/responsive.min.js" type="text/javascript"></script>

<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

{% endblock %}

{% block navbar %}
<div class="topbar">
    <div id="main-logo"></div>
    <div class="search-bar-container">
        <div class="right-inner-addon">
            <select id="player-select" multiple>
                <option value="">add a player to compare...</option>
                {% for player in players_list %}
                <option value="{{player.unique_name}}">{{player.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="search-bar-container-mobile">
    <div class="right-inner-addon">
        <select id="player-select-mobile" multiple>
            <option value="">add a player to compare...</option>
            {% for player in players_list %}
            <option value="{{player.unique_name}}">{{player.name}}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="player-comparison-box">
    <div class="player_box" id="player_box_add_player">
        <div class="player_box_add_box">
        +
        </div>
    </div>
</div>
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <div id="add-player-empty-plus">+</div>
    <div id="add-player-empty-text">
        try adding a player to see their stats
    </div>
  </ul>
</div>

<div id="page-content-wrapper">
  <div class="content-container">
    <div id="stats-format">
        <div class=btn-group" data-toggles="buttons" id="stats-format-tabs">
            <div class="label stat-format-label label-primary">compare</div>
            <div class="label stat-format-label label-default inactive">who's better</div>
            <div class="label stat-format-label label-default inactive">just digits</div>
        </div>
    </div>
    <div class="stats-row"> 
        <div id="percentages-container">
            <div id="timeline-scoring-chart"></div>
            <div id="scoring-chart"></div>
        </div>
        <div id="timeline-scoring-toggles">
            <div class="label stat-toggle-label timeline-scoring-toggle label-default" data-value="true_shooting_percentage" data-category="TRUE SHOOTING">TRUE SHOOTING</div>
            <div class="label stat-toggle-label timeline-scoring-toggle label-default" data-value="effective_shooting_percentage" data-category="EFFECTIVE FGs">EFFECTIVE FGs</div>
            <div class="label stat-toggle-label timeline-scoring-toggle label-default" data-value="field_goal_percentage" data-category="SHOOTING">Field Goals</div>
            <div class="label stat-toggle-label timeline-scoring-toggle label-default" data-value="three_point_percentage" data-category="3 POINTERS">3 Pointers</div>
            <div class="label stat-toggle-label timeline-scoring-toggle label-default" data-value="free_throw_percentage" data-category="FREE THROWS">Free Throws</div>
        </div>
        <div id="scoring-toggles">
            <div class="label stat-toggle-label scoring-toggle label-primary" data-value="true_shooting_percentage" data-category="TRUE SHOOTING">TRUE SHOOTING</div>
            <div class="label stat-toggle-label scoring-toggle label-primary" data-value="effective_shooting_percentage" data-category="EFFECTIVE FGs">EFFECTIVE FGs</div>
            <div class="label stat-toggle-label scoring-toggle label-primary" data-value="field_goal_percentage" data-category="SHOOTING">Field Goals</div>
            <div class="label stat-toggle-label scoring-toggle label-primary" data-value="three_point_percentage" data-category="3 POINTERS">3 Pointers</div>
            <div class="label stat-toggle-label scoring-toggle label-primary" data-value="free_throw_percentage" data-category="FREE THROWS">Free Throws</div>
        </div>
    </div>
    <div class="stats-row">
        <div id="playmaking-container">
            <div id="timeline-playmaking-chart"></div>
            <div id="playmaking-chart"></div>
        </div>
        <div id="timeline-playmaking-toggles">
            <div class="label stat-toggle-label timeline-playmaking-toggle label-primary" data-value="points" data-category="Points">Points</div>
            <div class="label stat-toggle-label timeline-playmaking-toggle label-primary" data-value="total_rebounds" data-category="Rebounds">Rebounds</div>
            <div class="label stat-toggle-label timeline-playmaking-toggle label-primary" data-value="assists" data-category="Assists">Assists</div>
            <div class="label stat-toggle-label timeline-playmaking-toggle label-primary" data-value="plus_minus" data-category="Plus/Minus">Plus/Minus</div>
            <div class="label stat-toggle-label timeline-playmaking-toggle label-default" data-value="steals" data-category="Steals">Steals</div>
            <div class="label stat-toggle-label timeline-playmaking-toggle label-default" data-value="blocks" data-category="Blocks">Blocks</div>
        </div>
        <div id="playmaking-toggles">
            <div class="label stat-toggle-label playmaking-toggle label-primary" data-value="avg_points" data-category="Points">Points</div>
            <div class="label stat-toggle-label playmaking-toggle label-primary" data-value="total_rebounds" data-category="Rebounds">Rebounds</div>
            <div class="label stat-toggle-label playmaking-toggle label-primary" data-value="assists" data-category="Assists">Assists</div>
            <div class="label stat-toggle-label playmaking-toggle label-primary" data-value="plus_minus" data-category="Plus/Minus">Plus/Minus</div>
            <div class="label stat-toggle-label playmaking-toggle label-default" data-value="steals" data-category="Steals">Steals</div>
            <div class="label stat-toggle-label playmaking-toggle label-default" data-value="blocks" data-category="Blocks">Blocks</div>
        </div>
    </div>
  </div><!-- /container -->
</div>

<script id="player_card_color_template" type="x-tmpl-mustache">
{% verbatim %}

background: {{ m_color }}; /* Old browsers */
//background: -moz-linear-gradient(left,  {{m_color}} 0%, #141414 85%); /* FF3.6+ */
//background: -webkit-gradient(linear, left top, right top, color-stop(0%,{{m_color}}), color-stop(85%,#141414)); /* Chrome,Safari4+ */
//background: -webkit-linear-gradient(left,  {{m_color}} 0%,#141414 85%); /* Chrome10+,Safari5.1+ */
//background: -o-linear-gradient(left,  {{m_color}} 0%,#141414 85%); /* Opera 11.10+ */
//background: -ms-linear-gradient(left,  {{m_color}} 0%,#141414 85%); /* IE10+ */
//background: linear-gradient(to right,  {{m_color}} 0%,#141414 85%); /* W3C */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{m_color}}', endColorstr='#141414',GradientType=1 ); /* IE6-9 */
//
{% endverbatim %}
</script>


<script id="player_card_template" type="x-tmpl-mustache">
{% verbatim %}
<div class="player_card_full">
    <div class="player_card" id="{{m_unique_id}}" data-color="{{m_color}}">
        <div class="remove-player" id="remove-{{m_unique_id}}" style="{{m_unique_style}}">
            <div><span>x</span></div>
        </div>
        <div class="player_title">
            <div>
                <h4>{{m_player_name}}</h4>
                <h6>{{m_player_team}}</h6>
            </div>
        </div>
        <div class="profile_pic_container">
            <img src="{{m_player_image}}">
        </div>
    </div>
    <div class="playerInfo collapsedPlayerInfo">
        <div class="playerInfoStats">
            <div>Position: {{m_player_position}}--</div>
            <div>Weight: {{m_player_weight}}-- lbs</div>
            <div>Height: {{m_player_height}}--</div>
            <div>School: {{m_player_school}}--</div>
        </div>
        <div class="selectContainer">
            <select class="selectpicker" id="time-select-{{m_unique_id}}" data-container="body" data-style="btn-inverse-dark" data-width="80%">
                {{#m_datasets}}
                    {{#default_selected}}
                    <option data-value="{{key}}" selected>{{label}}</option>
                    {{/default_selected}}
                    {{^default_selected}}
                    <option data-value="{{key}}">{{label}}</option>
                    {{/default_selected}}
                {{/m_datasets}}
            </select>
        </div>
    </div>
</div>
</script>

<script id="player_box_template" type="x-tmpl-mustache">
<div class="player_box">
    <div class="player_box_image_container">
        <img src="{{m_player_image}}">
    </div>
    <span class="player_box_remove" id="remove-{{m_unique_id}}">
    x
    </span>
    <div class="player_box_text_container">
        <div class="player_box_name">
        {{m_player_name}}
        </div>
    </div>
    <div class="player_box_color_stripe" style="{{m_unique_style}}">
    </div>
</div>
</script>



{% endverbatim %}

{% endblock %}

{% block libraries %}
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/static/js/jquery.history.js"></script>
<script type="text/javascript" src="/static/js/selectize.js"></script>
<script src="/static/js/mustache.js"></script>
<script src="/static/js/bootstrap-select.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<script>{% include "js/combatStat.js" %}</script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5531dcb9792cad08" async="async"></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5531dcb9792cad08" async="async"></script>

{% endblock %}
